body {
    margin: 0;
}
a{ text-decoration: none; color: #000000 }

/*header css*/
header {
    position: static;
    display: inline-block;
    height:56px;
    width: 100%;
    background-color: #595959;
}
.nav {
    position: absolute;
    top: 0;
    
    display: block;
    list-style-type: none;
    width: 100%;
    text-align: center; 
    margin: 0;  
    padding: 0;
  
}

.nav li {
    display: inline-block;
    font-size: 30px;
    padding: 0px 20px 0px 20px;
}
.top_li {
    color: #f2f2f2;
}

#a_logo {
    position: absolute;
    z-index: 3;
    top: 0;
    padding: 0;
    height: 56px;
}
ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0px;
    
}
#title_logo {
    width:224px;
    height:56px;
}
#z_index1 {
    z-index: 1;
    color: #f2f2f2;
}
#top_rg {
    position: relative;
    z-index: 2;
    float: right;
    vertical-align: middle;
}
#top_rg li {
    display: inline-block;
    padding: 15px 10px;
}






button { 
    border: 0;
    outline: 0;
    background-color: #fff;
}

#nav_layout {
    position: static;
}
#nav_top {
    display:inline-block;
    width: 100%;
    margin: 10px 0;
}
#nav_top h2 {
    display: inline-block;
    margin: 0;
}
#nav_top h3 {
    display: inline-block;
    margin: 0;
    float: right;
}

#main_container {
    width: 100%;
    height: 1500px;
    position: relative;
    top: -4px;
}
#center_box {
    width: 1024px;
    margin: 30px auto;
}
#background_img {
    background-image:url(../user_porfile/profile.png);
    background-size: contain;
    display: inline-block;
    width: 230px;
    height: 230px;
    margin: 0 15px;
}
#contents_layout {
    display: inline-block;
    position:absolute;
}
#nav_box {
    border-bottom: 1px solid rgb(0, 0, 0);
    position: relative;
    top: 110px;
}
#nav_box li {
    display: inline-block;
    margin: 10px 0;
    border-left: 1px solid gray;
}
#nav_box button {
    padding: 10px 55px;
    cursor: pointer;
}
#nav_box p {
    font-size:20px;
    margin: 0;
}



#item_box {
    display: inline-block;
    width: 850px;
    height: 1500px;
    padding: 7px;
    margin: 30px 80px;
    border: 1px solid #000000;
}
/*iframe CSS*/
.like_item {
    padding: 5px 2px;
    margin: 3px 0;
    border-bottom: 1px solid gray;
    position: static;
}
.like_item > img {
    width: 100px;
    height: 100px;
}
.item_info {
    display: inline-block;
    margin-left: 10px;
    position: absolute;
}
.item_info p {
    margin: 0;
    margin-bottom: 5px
}
.p1 {
    font-style: b;
}
.item_info_rg {
    display: inline-block;
    float: right;
    text-align: right;
}
.item_info_rg p {
    margin: 0 10px;
    font-size: 14px;
}
.activity_btn {
    display: inline-block;
    margin: 0 10px;
}
.activity_btn button {
    cursor: pointer;
    background: #f2f2f2;
    color: #1D1D1D;
}
.deal {
    color: #f70000;   
}