a{ text-decoration: none; color: #000000 }
body { 
    
    margin: 0;
}
button {
    background-color: transparent !important;
    cursor: pointer;
    outline: none;
    color: #f2f2f2;
    width: 100%;
    height: 100%;
    padding: none;
    border: none;
}


header {
    position: static;
    display: inline-block;
    height:56px;
    width: 100%;
    background-color: #595959;
}
.nav {
    position: absolute;
    top: 0;
    
    display: block;
    list-style-type: none;
    width: 100%;
    text-align: center; 
    margin: 0;  
    padding: 0;
  
}

.nav li {
    display: inline-block;
    font-size: 30px;
    padding: 0px 20px 0px 20px;
}
.top_li {
    color: #f2f2f2;
}

#a_logo {
    position: absolute;
    z-index: 3;
    top: 0;
    padding: 0;
    height: 56px;
}
ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0px;
    
}
#title_logo {
    width:224px;
    height:56px;
}
#z_index1 {
    z-index: 1;
    color: #f2f2f2;
}
#top_rg {
    position: relative;
    z-index: 2;
    float: right;
    vertical-align: middle;
}
#top_rg li {
    display: inline-block;
    padding: 15px 10px;
}



#setting{
    display: block;
    text-align: center;
}
#sale_container {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
    position: relative;
    left: 82px;
}






/*슬라이드쇼*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#slider-wrap {
    display: inline-block;
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(5px 5px 5px #000);
}

#slider-wrap ul#slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#slider-wrap ul#slider li {
    float: left;
    position: relative;
    width: 600px;
    height: 400px;
}



#slider-wrap ul#slider li img {
    display: block;
    width: 400px;
    height: 400px;
}

/*btns*/
.slider-btns {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 50%;
    margin-top: -25px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.slider-btns:hover {
    background: rgba(0, 0, 0, 0.3);
}

#next {
    right: -50px;
    border-radius: 7px 0px 0px 7px;
    color: #eee;
}

#previous {
    left: -50px;
    border-radius: 0px 7px 7px 7px;
    color: #eee;
}

#slider-wrap.active #next {
    right: 0px;
}

#slider-wrap.active #previous {
    left: 0px;
}

/*bar*/
#slider-pagination-wrap {
    min-width: 20px;
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    position: relative;
    text-align: center;
}

#slider-pagination-wrap ul {
    width: 100%;
}

#slider-pagination-wrap ul li {
    margin: 0 4px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: relative;
    top: 0;
}

#slider-pagination-wrap ul li.active {
    width: 12px;
    height: 12px;
    top: 3px;
    opacity: 1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

/*ANIMATION*/
#slider-wrap ul,
#slider-pagination-wrap ul li {
    -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}
/*end*/


#sale_info_layout {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 0;
    height: 400px;
    width: 500px;
    position: relative;
    left: 30px
}
#sale_info > h2 {
    margin: 0 0 10px 0;
}
#sale_info > h1 {
    margin: 0 0 20px 0;
}

#info_wrapper {
    display: inline-flex;
    position: relative;
    top: 25px;
    left: 10px;
}
.box_set {
    display: inline-block;
    padding-right: 20px;
    border-right: 25px;
    margin-right: 25px;
   
}
.info {
    display: block;
    color: #999999;
    font-size: 14px;
    margin-bottom: 10px;
}
.info_main {
    display: block;
    margin-bottom: 10px;
    font-size:14px
}


#ad_container {
    display: block;
    background-color: rgb(77, 77, 77);
}



#btn_layout {
    position: relative;
    top: 50px;
    left: -5px;
}
.btn {
    display: inline-block;
    height: 56px;
    width: 140px;
    margin: 5px;
}
#wish {
    background-color: black;
    border-radius: 5px;
}
#message {
    background-color: #595959;
    border-radius: 5px;
    
}

#link_box {
    display: inline-block;
    width: 297px;
    height: 55px;
    position: relative;
    top: 5px;
    background-color: #b9b9b9;
    margin: 5px;
}
#link {
    color: black;
    
}



#info_container {
    display: block;
    text-align: center;
}
#box {
    display: inline-block;
    text-align: center; 
    width:945px;
}
#title {
    font-size:18;
    text-align: left;
}
#title > p {
    font-size: 18px;
    margin: 0;
    padding: 18px 0;
    border-bottom: 1px solid #595959;
}
#text_box {
    white-space:pre-line;
    line-height: 2;
    text-align: left;
    padding: 15px 10px;
}