body {
    margin: 0;
    width: 100%;
    color: #000000;
}
a{ text-decoration: none; color: #000000 }
header {
    position: static;
    display: inline-block;
    height:56px;
    width: 100%;
    background-color: #595959;
}
.nav {
    position: absolute;
    top: 0;
    
    display: block;
    list-style-type: none;
    width: 100%;
    text-align: center; 
    margin: 0;  
    padding: 0;
  
}

.nav li {
    display: inline-block;
    font-size: 30px;
    padding: 0px 20px 0px 20px;
}
.top_li {
    color: #f2f2f2;
}

#a_logo {
    position: absolute;
    z-index: 3;
    top: 0;
    padding: 0;
    height: 56px;
}
ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0px;
    
}
#title_logo {
    width:224px;
    height:56px;
}
#z_index1 {
    z-index: 1;
    color: #f2f2f2;
}
#top_rg {
    position: relative;
    z-index: 2;
    float: right;
    vertical-align: middle;
}
#top_rg li {
    display: inline-block;
    padding: 15px 10px;
}






#main_contents {
    position: relative;
    top: -4px;
    display: block;
    width: 100%;
    height: 711px;
    background-color: #333333;
    text-align: center;
}
#main_contents_wrapper {
    display: inline-block;
    height: auto;   
    width: 1442.880px;
    height:711px;
}
#contents {
    display: inline-block;
    position: relative;
    left: 11px;
    height: 328px;   
    width: 1442.880px;
    margin: 30px auto;
}
#news_contents {
    display: inline-block;
    background-size: 100%;
    padding: 3px;
    width: 493px;
    height: 325px;
    position: relative;
    top: -151px;
    padding: 0;
}
#content_h1 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 141.34px;
    color: #f2f2f2;
    letter-spacing: 10px;
    background-color: #1c1c1c4a;
}
.content_h4 {
    margin: 0;
    position: relative;
    top: 280px;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 24px;
    background: #1c1c1cad;
    color: #f2f2f2;
}

.my_contents {
    display: inline-block;
    background-size: 100%;
    padding: 3px;
    width: 237px;
    height:325px;
    position: relative;
    top: -310px;
    padding: 0;
}

.count {
    display: inline-block;
}
.count > li {
    padding: 3px;
}
#view_list {
    text-align: left;
    width: 102%;
    margin: 0 auto;
}
#view_list > h2 {
    position: relative;
    top: -10px;
    left: 20px;
    margin: 0;
    font-size: 24px;
    color: #f2f2f2;
}
#view_list_layout {
    display: inline-block;
    color: #f2f2f2;
}
#view_list_layout p {
    color: #f2f2f2;
}

.sale_item {
    display:inline-block;
    width: 200px;
    padding: 10px 20px;

}
.item_img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.item_info {
    display: inline;
}
.left_info {
    display: block;
    float: left;
    text-align:left;
}
.right_info {
    display: block;
    float: right;
    text-align: right;
}
.item_p {
    margin: 2px;
}
#price {
    font-weight: bold;
}


#list_contents {
    display: block;
    width: 100%;
    text-align: center;

}
#item_list_contents_wrapper {
    display: inline-block;
    width: 1480px;
    text-align: center;
}
#item_title {
    text-align: left;
    position: relative;
    left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#view_list {
    text-align: left;
    width: 102%;
    margin: 0 auto;
}
#item_list_layout {
    display: inline-block;
}
footer {
    margin-top: 30px;
    height: 120px;
    background: #333333;
    width: 100%;
    color: #f2f2f2;
}